<a href="https://colab.research.google.com/github/BenjaminSchell/Codes/blob/main/Day01_p2_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# CS 167 Machine Learning
# Day 01 Part 2 exercises
# note that each of these segments should be run in a different cell 
# within an iPython Notebook

In [3]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [4]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [5]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

In [6]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [7]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [8]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [9]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [13]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

baby
e

In [14]:
# In Python, a tuple is a collection which is ordered andÃ‚Â unchangeable. 
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [ ]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2])

In [ ]:
my_tuple[1] = 0

In [ ]:
print(my_dictionary[1])

In [19]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

2
x is even and nonnegative
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [20]:
# iterating Through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

In [21]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] )

for i in range(len(my_data)):
    print( i )

for i in range(my_data):
    print( my_data[i] )

TypeError: ignored

In [22]:
import pandas

In [23]:
import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/January_23/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [25]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [26]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [27]:
print(data.loc[3, 'type'])

Thai

In [28]:
print(data.iloc[3,8])

Thai

In [29]:
print(data.iloc[3][8])

Thai

In [38]:
print(data.iloc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [35]:
print(data['est'])

0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object

In [36]:
data.loc[5]

alt            No
bar           Yes
fri            No
hun           Yes
pat          Some
price          $$
rain          Yes
res           Yes
type      Italian
est          0-10
target        Yes
Name: 5, dtype: object

In [39]:
print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'str'>

In [44]:
data1 = pd.read_csv('/content/drive/MyDrive/January_23/irisData.csv')
data1.head()

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [42]:
type(data1['sepal length'].loc[0])

numpy.float64

In [43]:
data.iloc[3:6, 4:8]

    pat price rain  res
3  Full     $   No   No
4  Full   $$$   No  Yes
5  Some    $$  Yes  Yes

In [47]:
print(data['rain'].iloc[4])

No

In [48]:
print(data['type']=='Thai')

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
Name: type, dtype: bool

In [49]:
print(data[ data['type'] == 'Thai'])

    alt bar  fri  hun   pat price rain  res  type    est target
1   Yes  No   No  Yes  Full     $   No   No  Thai  30-60     No
3   Yes  No  Yes  Yes  Full     $   No   No  Thai  10-30    Yes
7    No  No   No  Yes  Some    $$  Yes  Yes  Thai   0-10    Yes
10   No  No   No   No  None     $   No   No  Thai   0-10     No

# All done? Here are some Exercises you can work on:

Using the restaurant data:
- print out all examples of Italian restaurants
- print out all examples where the estimated wait time is 0-10 minutes
- print out all examples at Thai restaurants where there is no alternative available. 
	- Hint, see if you can Google how to do selection in a Pandas dataframe using and/or (we'll cover this tomorrow)

Using the Iris Data:
- Print the Sets examples
- Print examples with petal length greater than 6.

In [50]:
print(data[ data['type'] == 'Italian'])

   alt  bar  fri  hun   pat price rain  res     type    est target
5   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10    Yes
9  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30     No

In [51]:
print(data[ data['est'] == '0-10'])

    alt  bar fri  hun   pat price rain  res     type   est target
0   Yes   No  No  Yes  Some   $$$   No  Yes   French  0-10    Yes
2    No  Yes  No   No  Some     $   No   No   Burger  0-10    Yes
5    No  Yes  No  Yes  Some    $$  Yes  Yes  Italian  0-10    Yes
6    No  Yes  No   No  None     $  Yes   No   Burger  0-10     No
7    No   No  No  Yes  Some    $$  Yes  Yes     Thai  0-10    Yes
10   No   No  No   No  None     $   No   No     Thai  0-10     No

In [62]:
print(data[(data['type'] == 'Thai') & (data['alt'] == 'No')])

   alt bar fri  hun   pat price rain  res  type   est target
7   No  No  No  Yes  Some    $$  Yes  Yes  Thai  0-10    Yes
10  No  No  No   No  None     $   No   No  Thai  0-10     No

In [63]:
print(data1[data1['species'] == 'Iris-setosa'])

    sepal length  sepal width  petal length  petal width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [64]:
print(data1[data1['petal length'] > 6])

     sepal length  sepal width  petal length  petal width         species
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica